In [7]:
import pandas as pd
import researchpy as rp
import scipy.stats as stats
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [8]:
data = pd.read_excel('files_for_lab/anova_lab_data.xlsx', sheet_name='data_collected')
data.columns = ['Power','Etching_Rate']
data

    Power  Etching_Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [9]:
model = ols('Etching_Rate ~ C(Power)',data=data).fit()
table = sm.stats.anova_lm(model)
print(table)

            df     sum_sq   mean_sq          F    PR(>F)
C(Power)   2.0  18.176653  9.088327  36.878955  0.000008
Residual  12.0   2.957240  0.246437        NaN       NaN

In [10]:
rp.summary_cont(data['Etching_Rate'])

       Variable     N    Mean      SD      SE  95% Conf.  Interval
0  Etching_Rate  15.0  6.7827  1.2286  0.3172     6.1023    7.4631

In [11]:
rp.summary_cont(data['Etching_Rate'].groupby(data['Power']))

       N   Mean      SD      SE  95% Conf.  Interval
Power
160 W  5  5.792  0.3199  0.1431     5.3948    6.1892
180 W  5  6.238  0.4343  0.1942     5.6987    6.7773
200 W  5  8.318  0.6696  0.2995     7.4866    9.1494

In [13]:
stats.f_oneway(data['Etching_Rate'][data['Power'] == '160 W'],
               data['Etching_Rate'][data['Power'] == '180 W'],
               data['Etching_Rate'][data['Power'] == '200 W'])

F_onewayResult(statistic=36.87895470100505, pvalue=7.506584272358903e-06)